<div class="greeting">
  <h1 class="red-text" data-fittext data-fittext-max="65">Welcome to Bloodhound App </h1>
  <h3 class="blue-grey-text text-darken-1" data-fittext data-fittext-max="45">Have you ever been in this situation?</h3>
  <div class="question">
    <p  class="center-align flow-text"  >Someone borrowed a book from you, but you don't remember who it was?</p>
    <img src="/public/assets/images/dont-remember.jpg" />
  </div>
  <!-- <div class="question">
    <p class="center-align flow-text">A friend borrowed $20 bucks from you, but never returned?</p>
    <img src="/public/assets/images/money.jpg" />
  </div> -->

  <div class="question">
    <p class="center-align flow-text">You don't want to be a jerk and remind the friend that he/she forgot return $20 bucks.</p>
    <img src="/public/assets/images/money.jpg" />
  </div>
  <h2 data-fittext data-fittext-max="45" class="blue-grey-text text-darken-1">Well, all this can be solved with the Bloodhound App!</h2>

  <a class="btn right" href="/auth/google" >Sign Up Now!</a>
  <br />
</div>
